body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding:20px
}
#display{
    background-color: rgb(34, 33, 33);
    color:rgb(245, 240, 240);
    font-size:2.5rem;
    padding:20px;
    text-align:left;

}
#calculator{
    font-weight: bold;
    font-style:Arial, sans-serif;
    background-color: rgb(34, 33, 33);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:25px;

}

button{
    width:100px;
    height:100px;
    border-radius:50px;
    border:none;
    background-color:rgb(46, 45, 45);
    color:white;
    font-size:3rem;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background-color: rgb(95, 93, 93);
}
button:active{
    background-color: rgb(173, 153, 153);
}
.operator-btn{
    background-color: rgb(221, 151, 21);
}
.operator-btn:hover{
    background-color: rgb(225, 180, 98);
}