body{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: gray;
}
#myH1{
    font-size:4rem;
    font-family:"Arial", sans-serif;
    color:rgb(109, 31, 31)

}
#container{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(238, 192, 192);
    padding:30px;
    border:5px solid black;
    border-radius: 50px;

}
#display{
    font-size:3rem;
    font-family:"Arial", sans-serif;
    color:rgb(23, 23, 43);
    margin-bottom: 20px;
}
#start,#stop,#reset{
    font-size:1.5rem;
    font-family:"Arial", sans-serif;
    color:rgb(12, 11, 11);
    border:none;
    padding:10px 20px;
    font-weight: bold;
    margin:5px;
    border-radius: 10px;
    cursor:pointer;
    transition: background-color 0.3s ease;
}
#start{
    background-color: rgb(0, 255, 0);
}
#start:hover{
    background-color: rgb(0, 200, 0);
}
#stop{
    background-color: rgb(255, 0, 0);
}
#stop:hover{
    background-color: rgb(200, 0, 0);
}
#reset{
    background-color: rgb(49, 150, 190);
}
#reset:hover{
    background-color: rgb(57, 135, 155);
}
