
.top-bar{
    background-color: rgb(11, 11, 11);
    padding: 10px;
    text-align: center;
    color: rgb(238, 170, 170);
    span{
        margin: 0 15px;
        text-spacing-trim: none;
        cursor: pointer;
        font-weight: bold;

    }
}
.top-bar span button{
    padding: 5px 10px;
    background-color: #55d949;
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);  /* Dark overlay */
    top: 0;
    left: 0;
    z-index: 2;
}
.hero{
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    overflow: hidden;

}
.hero h1,
.hero p,
.hero button{
    position: relative;
    z-index: 3;
}

.hero h1{
    font-size: 80px;
    font-weight: bold;
    color:black
}
.hero p{
    text-align: center;
    font-size: 80px;
    margin: 10px 0;
    font-weight:bold;
    color:rgb(14, 223, 18)
}
.hero button{
    padding: 12px 25px;
    border-radius:50% ;
    background: rgb(233, 98, 7);
    color: rgb(13, 13, 13);
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.slider{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    height:100%;
    animation: slide 9s infinite;
    z-index:1;

}
.slide{
    min-width:100%;
    height:100%;
    background-size:cover;
    background-position: center;
}
.menu {
    padding: 60px 0;
    text-align: center;
  }
  
  .menu h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .card {
    background: #fff;
    width: 220px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-8px);
  }
  
  .img-box {
    width: 120px;
    height: 120px;
    margin: -70px auto 15px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }
  
  .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card h3 {
    margin: 10px 0 5px;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
  }
  
  .price {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
  }


@keyframes slide{
    0%{transform: translateX(0);}
    33%{transform: translateX(-100%);}
    66%{transform: translateX(-200%);}
    100%{transform: translateX(0);}
}
