* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") no-repeat center;
    background-size: cover;
    height: 250px;
    position:relative;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

.overlay p {
    margin-top: 10px;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
}

.container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: gray;
}

.booking-form {
    background: rgb(160, 203, 215);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.booking-form h3 {
    margin-bottom: 20px;
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #121111;
    border-radius: 5px;
}

.radio-group {
    margin-bottom: 20px;
}

.radio-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
}

.booking-form button {
    width: 100%;
    padding: 12px;
    background-color: #0a3d62;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.booking-form button:hover {
    background-color: #07426e;
}
.error{
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display:block;
}

@media (max-width: 600px) {
    .overlay h1 {
        font-size: 28px;
    }

    .container {
        padding: 15px;
    }

    .booking-form {
        padding: 20px;
    }
}