.body{
    marigin:0;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background: linear-gradient(to right, #3b9fb7, #243b55);
    padding: 18px 0;
}
.navbar a{
    text-decoration: none;
    color: rgb(245, 231, 231);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: black;

}
.hero{
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    overflow: hidden;
}
.hero h1,
.hero p,
.hero button{
position: relative;
}
.hero h1{
    font-size:50px;
    font-weight: bold;
    color:black
}
.hero p{
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
    padding: auto;
    font-weight:bold;
    color:black;
}
.hero button{
    padding: 12px 25px;
    border-radius:30%;
    background-color: aqua;
    color: black;
    cursor: pointer;
}
.hero button:hover{
    background-color: rgb(194, 111, 55);
    color: rgb(13, 13, 13);
}





.backimg{
    position:absolute;
    width:100%;
    height:100%;
    display: flex;   
}
.backimg img{
    min-width: 100%;
    background-size: cover;
    background-position: center;
}